body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* ------------------ */
.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main{
    width: 980px;
    position: relative;
    margin: 0 auto;
}

main, .content{
    width: 980px;
    position: relative;
    margin: 0 auto;
}

.logo{
    padding: 10px;
    float: left;
    width: 70%;
}

.redes-sociais ul li{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}

.redes-sociais{
    width: 20%;
    float: right;
}

/* ------------------ */
.coluna-100{
    width: 100%;
    float: left;
    position: relative;
}

.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.banner{
    width: 100%;
}

.menu{
    width: 75%;
    float: left;
}

ul{
    padding: 0px!important;
}

.menu-urls{
    height: 80px;
    border-bottom: 3px solid #efefef;
}

/* ----------------------------- */
.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-right: 16px;
    height: 50px;
}
.menu ul li:hover{ /* efeito ao passar o mouse por cima do item */
    border-bottom: 3px solid #00bac6;
}

/* ----------------------------- */
.menu ul li a{/* estilização da palavra */
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu ul li a:hover{/* efeito ao passar o mouse por cima da palavra */
    color: #00bac6;
}

/* ----------------------------- */
.busca{/* posicionamento do input de busca */
    width: 20%;
    float: right;
    padding: 10px;
    text-align: center;
}
.busca input{/* input + imagem dentro do input */
    width: 160px;
    height: 28px;
    padding-left: 10px;
    background-image: url('../img/icone-busca.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}

/* ----------------------------- */
button.slick-prev{
    width: 27px;
    height: 50px;
    font-size: 0px;
    border: none;
    background-color: transparent;
    background-image: url('../img/arrow-left.png');
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 14%;
}
button.slick-next{
    width: 27px;
    height: 50px;
    font-size: 0px;
    border: none;
    background-color: transparent;
    background-image: url('../img/arrow-right.png');
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 14%;
}

.slick-initialized{
    overflow: hidden;
}

/* ----------------------------- */
.slick-dots li{
    display: inline-block;
    padding-right: 8px;
}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 47%;
    top: 90%;
}

.slick-dots li button{
    font-size: 0px;
    border: 4px solid #ffffff;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

li.slick-active button{
    background: #00bac6;
}
